.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headshot {
  width: 40%;
}

.projectContainer {
  display: flex;
  flex-direction: row;

  #projectImg2 {
    display: none;
  }
}

.imgHidden {
  display: none;
}

.imgShow {
  display: block;
}